In [112]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [118]:
url = 'http://books.toscrape.com/catalogue/page-1.html'

response = requests.get(url)

soup = BeautifulSoup(response.text, 'html')

In [119]:
ol = soup.find('ol')

In [120]:
articles = ol.find_all('article', class_='product_pod')

In [114]:
books = []

for i in range(1,51):
    url = f'http://books.toscrape.com/catalogue/page-{i}.html'
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html')
    ol = soup.find('ol')
    articles = ol.find_all('article', class_='product_pod')

    for article in articles:
        image = article.find('img')
        title = image.attrs['alt']
        star = article.find('p')
        star = star['class'][1]
        price = article.find('p', class_='price_color')
        price = float(price.text[2:])
        books.append([title, price, star])

In [116]:
df = pd.DataFrame(books, columns=['Title', 'Price', 'Star Rating'])
df

                                                 Title  Price Star Rating
0                                 A Light in the Attic  51.77       Three
1                                   Tipping the Velvet  53.74         One
2                                           Soumission  50.10         One
3                                        Sharp Objects  47.82        Four
4                Sapiens: A Brief History of Humankind  54.23        Five
..                                                 ...    ...         ...
995  Alice in Wonderland (Alice's Adventures in Won...  55.53         One
996   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)  57.06        Four
997  A Spy's Devotion (The Regency Spies of London #1)  16.97        Five
998                1st to Die (Women's Murder Club #1)  53.98         One
999                 1,000 Places to See Before You Die  26.08        Five

[1000 rows x 3 columns]

In [117]:
df.to_csv('books_to_scrape.csv')